.DS_Store
.idea
.temp
.cache
*.pyc
*.log
*~
*.swp
/venv/*
release/*
venv
.env
.venv
.*-venv
.vscode/build.ps1
results
release
site
scratches
tests/test_files/data
tests/test_files/unreal_projects/**/DefaultInput.ini
tests/test_files/blender_files/textures